<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="customEditorRegistrar"
      class="com.gxf.mybatis.spring_property_edit.CustomEditorRegistrar">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value-ref="customDateEditor"/>
            </map>
        </property>
    </bean>


    <bean id="order" class="com.gxf.mybatis.spring_property_edit.Order">
        <property name="createDate" value="2016-07-09 23:44:18"/>
    </bean>

    <bean id="customDateEditor" class="com.gxf.mybatis.spring_property_edit.CustomDateEditor">
        <constructor-arg name="allowEmpty" value="true"/>
        <constructor-arg name="pattern" value="yyyy-MM-dd HH:mm:ss"/>
    </bean>

    <bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value="com.gxf.mybatis.spring_property_edit.CustomDateEditor">

                </entry>
            </map>
        </property>
    </bean>
</beans>