<?xml version="1.0" encoding="UTF-8"?>
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
  xmlns:aop="http://www.springframework.org/schema/aop"
>
  <!-- 配置需要被Spring管理的Bean（创建，创建后放在了Spring IOC容器里面）-->

  <!-- 表演者 -->
  <bean id="teacherImpl" class="com.gxf.aop.TeacherImpl"/>

  <!-- 观众 -->
  <bean id="student" class="com.gxf.aop.Student"></bean>

  <!-- 为接口类设置切点 -->
  <aop:config proxy-target-class="true">
    <aop:aspect ref="student">
      <aop:pointcut id="teacherTeach" expression="execution(* com.gxf.aop.TeacherImpl.teach(..)) and args(objectName)" />
      <!-- 之前 -->
      <aop:before pointcut-ref="teacherTeach" method="seats" arg-names="objectName"/>
      <!-- 之前 -->
      <aop:before pointcut="execution(* com.gxf.aop.TeacherImpl.teach(..))" method="sayhello"/>
      <!-- 之后 -->
      <aop:after-returning pointcut="execution(* com.gxf.aop.TeacherImpl.teach(..))" method="ask"/>
      <!-- 之后 -->
      <aop:after-throwing pointcut="execution(* com.gxf.aop.TeacherImpl.teach(..))" method="endclass"/>
    </aop:aspect>
  </aop:config>
</beans>